In [7]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

import acquire_mall
import prepare_mall

In [2]:
df = acquire_mall.get_mall_data()

In [3]:
df.head()

   customer_id  gender  age  annual_income  spending_score
0            1    Male   19             15              39
1            2    Male   21             15              81
2            3  Female   20             16               6
3            4  Female   23             16              77
4            5  Female   31             17              40

In [4]:
df = prepare_mall.is_outlier(df)

In [5]:
df = prepare_mall.encode_mall(df)

gender_encoded
spending_score_encoded

In [6]:
df.head()

,customer_id,gender,age,annual_income,spending_score,annual_income_outliers,gender_encoded,spending_score_encoded
0,1,Male,19,15,39,0.0,1,30
1,2,Male,21,15,81,0.0,1,67
2,3,Female,20,16,6,0.0,0,4
3,4,Female,23,16,77,0.0,0,64
4,5,Female,31,17,40,0.0,0,31

In [ ]:
ttest_ind(df.gender_encoded, df.annual_income)